<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- DataTables .js -->
    <link href="/js/addons/datatables.js" rel="stylesheet" type="text/css"/>
    <!-- DataTables .css -->
    <link href="/css/addons/datatables.css" rel="stylesheet" type="text/css"/>

    <style type="text/css">

        td.details {
            background: url('/img/sort_desc.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details {
            background: url('/img/sort_asc.png') no-repeat center center;
            cursor: pointer;
        }

    </style>

    <title>Users Information</title>
</head>
<body class="text-center">
<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h1 style="align-content: center"> User Information </h1>
        </div>
    </div>
        <div class="row text-center" >

            <div class="col-md-12 form-group">
                <form action="" id="formSearch" method="post">
                    <input type="hidden" name="search" id="search" value="">
                    <table>
                        <tr>
                            <td>Name: </td>
                            <td><input type="text" class="form-control" placeholder="First name" name="name"></td>
                            <td>Surname: </td>
                            <td><input type="text" class="form-control" placeholder="Last name" name="surname"></td>
                            <td>Country: </td>
                            <td><input type="text" class="form-control" placeholder="Country" name="country"></td>
                            <td>
                                <input type="button" value="Search" class="btn btn-primary" name="btnSearch" id="btnSearch">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    <div class="row">
        <div class="col-md-12">

            <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Country</th>
                </tr>
                </thead>
                <tbody>
                <th:block>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.first_name}"></td>
                        <td th:text="${user.last_name}"></td>
                        <td th:text="${user.country}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>

            <th:block th:each="i : ${#numbers.sequence( 0, lastPageNo - 1)}">

                <a th:href="@{/rest/users(pageNo=${i })}" th:text="${i+1 }">1</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <!-- Displaying Page No -->
            </th:block>
        </div>
    </div>
</div>
<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.js"></script>

<script type="text/javascript" src="/js/list_person_simple.js"></script>
<!-- SCRIPTS -->
</body>
</html>